$iconDistanceFromContainer: 1.5rem;

.container {
	position: relative;
	width: 598px;
	height: 450px;
	margin: 10vh auto;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.3),
		-6px -8px 20px rgba(247, 243, 243, 0.5);
	display: flex;
	overflow: hidden;
	user-select: none;
	&__image {
		transform: scale(1.05);
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&__animated_image {
		animation: slide 200ms linear forwards;
	}
	@keyframes slide {
		from {
			transform: scale(1.05);
		}
		to {
			transform: scale(1);
		}
	}
}

.prevIcon,
.nextIcon {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	left: $iconDistanceFromContainer;
	font-size: 1.2rem;
	border-radius: 50%;
	padding: 2px;
	cursor: pointer;
	user-select: none;
	transition: color 100ms ease-out;
	&:hover {
		color: rgba(206, 25, 25, 0.767);
	}
}
.nextIcon {
	left: calc(100% - 1rem - $iconDistanceFromContainer);
}
